/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css 開始 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Raleway&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@1,8..60,300&display=swap');


section{
	width: 100%;
	height: 100vh;
	display: flex;
	font-family: 'Roboto', sans-serif;
}
.banner{
	background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week2/banner.png?raw=true') no-repeat center center;
	background-size: cover;
	align-items: center;
	justify-content: center;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	border: 0;
}
.banner span{
	font-size: 24px;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
}
.banner  h1{
	font-size: 80px;
	margin-bottom: 32px;
	font-weight: 900;
	vertical-align:middle;
	font-style: italic;
}
.banner p{
	font: size 24px;
	margin-bottom: 40px;
	line-height: 1.6;
	font-style: italic;
}
ul.icons{
	display: flex;
	justify-content:space-between;
	width: 100%;
}
ul.icons li{
	width: 60px;
	height: 60px;
	transition:all 0.2s;
}

ul.icons li:hover{
	transform:translate(-2px,-2px);
}
.about{
	display: block;
	padding:56px 0;
	height: auto;
}
.about h2{
	font-size: 64px;
	font-style: italic;
	font-weight: normal;
	width: 100%;
	text-align: center;
}
.about .avatar{
	width: 384px;
	height: 384px;
	display: block;
	margin:40px auto 20px auto;
}
.about span{
	text-align: center;
	font-size: 24px;
	color:#000;
	font-weight: bold;
	font-style: italic;
	display: block;
}
hr{
	width: 384px;
	height: 1px;
	border: 0;
	background: #000;
	margin:24px auto;
}
.about .detail{
	display: block;
	text-align: center;
	font-size: 24px;
	color:#000;
	font-weight: bold;
	font-style: italic;
}
.about .detail li{
	margin-bottom: 28px;
}
.about .detail li span{
	display: inline-block;
	position: relative;
}
.about .detail li span::before{
	content:"";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top:-11px;
	width: 22px;
	height: 22px;
	background-color: #891818;
	border-radius:22px;
}

.brand{
	display: block;
	padding:56px 0 160px 0;
	background-color: #000;
	color:#fff;
	height:auto;
}

.brand h2{
	font-size: 64px;
	text-align: center;
	font-style: italic;
	margin-bottom: 12px;
	font-weight: 500;
}
.brand p{
	font-size: 24px;
	text-align: center;
	font-style: italic;
	margin-bottom: 32px;
}
.brand span{
	display: block;
	text-align: center;
	margin-bottom: 0;
	line-height: 1.6;
}
.brand span:last-child{
	margin-bottom: 68px;
}
.brand .pic_wrap {
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
	margin:40px 0;
}
.brand .pic_wrap img {
	display: block;
	margin: 0 20px;
	transition:all 0.2s;
	cursor: pointer;
}
.brand .pic_wrap img:hover {
	transform: translate(-2px, -2px);
}
.works{
	display: block;
	text-align: center;
	padding:56px 0 144px 0;
	display: block;
	height: auto;
}

.works h2{
	font-size: 64px;
	text-align: center;
	font-style: italic;
	margin-bottom: 12px;
	font-weight: 500;
}
.works span{
	font-size: 20px;
	line-height: 1.6;
}
.works .pic_wrap{
	margin:56px 0 48px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.works .pic_wrap div{
	display: block;
}
.works .pic_wrap div img{
	display: block;
	margin:0 12px 0px 12px;
	transition:all 0.2s;
	cursor: pointer;
}
.works .pic_wrap div img:hover {
	transform: translate(-2px, -2px);
}


footer{
	position: relative;
	display: block;
	border: 0px solid #000;
	width: 100%;
	text-align: center;
	align-items: center;
	background: #000;
	color:#fff;
	padding:64px 0;
	font-family: 'Roboto', sans-serif;
}

footer h2{
	font-size: 64px;
	font-style: italic;
	font-weight: 500;
}
footer span{
	font-size: 24px;
	display: inline-block;
	margin-bottom: 16px;
	font-style: italic;
}
