/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css 開始 */

@import url('https://v1.fontapi.ir/css/SFProDisplay');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Raleway&display=swap');

.container{
	padding: 40px 0 0 0;
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 80px;
	font-family: 'SF Pro Display', sans-serif;
}

hr {
	background: #000;
}

picture {
	display: block;
	width: 324px;
	height: 324px;
	margin-bottom: 54px;
}

h3 {
	font-size: 32px;
	font-family: 'Noto Sans TC', sans-serif;
	padding-right: 16px;
	display: inline-block;
}

h3 span {
	font-size: 24px;
	font-family: 'SF Pro Display', sans-serif;
	font-weight: 700;
	color: #A00404;
	text-indent: 16px;
	display: inline-block;
}

.profile {
	margin: 0 0 70px 0;
}

.profile hr,
.education hr,
.experience hr {
	margin: 8px 0 16px 0;
}

.profile ul,
.education ul,
.experience ul {
	margin: 0 0 24px 0;
}

.profile ul li,
.education ul li {
	font-size: 24px;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	line-height: 36px;
}

.education,
.experience {
	margin: 0 0 80px 0;
}

.skill {
	margin: 48px 0 30px 0;
	padding: 26px 102px 40px 102px;
	background: #415165;
}
.skill hr{
	width: 100%;
	max-width:996px;
}

.skill h3 {
	color: #fff;
	text-align: center;
	width: 100%;
}

.skill h3 span {
	color: #fff;
}

.skill ul {
	margin: 40px auto 0 auto;
	width: 200px;
	border-left: 1px solid #96A9C4;
}

.skill ul li {
	color: #fff;
	white-space: nowrap;
	padding: 0 0 0 24px;
	margin: 0 0 20px 0;
	font-family: 'Noto Sans TC',
	sans-serif;
	height:36px;
	font-size: 24px;
}
.skill ul li:last-child{
	margin: 0 0 0 0;
}

.experience ul {
	padding: 0 0 0 24px;
	border-left: 1px solid #96A9C4;
	margin: 0 0 0 24px;
}

.experience ul li {
	font-size: 24px;
	font-family: 'Noto Sans TC', sans-serif;
	line-height: 36px;
	margin: 0 0 32px 0;
}

.experience ul li h6 {
	width: 642px;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

.experience ul li img {
	display: block;
	width: 89.5px;
}

.experience ul li.tree img {
	display: block;
	width: 73px;
}

.contact {
	padding: 30px 102px 50px 102px;
	background: #415165;
}

.contact h3 {
	font-size: 32px;
	width: 100%;
	text-align: center;
	color: #fff;
}

.contact h3 span {
	color: #fff;
	font-size: 24px;
}

.contact hr {
	margin: 8px auto 32px auto;
	max-width: 1200px;
}

.contact ul li {
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin: 0 0 18px 0;
	font-family: 'Noto Sans TC',
	sans-serif;
}
.contact ul li:nth-child(4n){
	margin: 0 0 20px 0;
}

.contact .contact_icons {
	margin: 24px 0 0 0;
	display: block;
}

.contact .contact_icons a {
	display: inline-block;
	margin: 0 24px 0 0;
	width: 48px;
}

.contact .contact_icons a:last-child {
	margin: 0 0 0 0;
}