<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="./assets/style/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />  
</head>

<body>
  	<nav class="h-auto text-bold g-bg-red relative -sm:px-[0]">
		<div class="menu_btn hidden -sm:flex flex-wrap absolute top-[30px] right-[20px] ">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div
			class="container mx-auto flex flex-nowrap items-center justify-between min-h-[50px]= -xl:px-[36px] -sm:flex-wrap
			-sm:px-[0px] -sm:min-h-[80px]">
			<a href="index.html"
				class="logo cursor-pointer w-20 h-11 mx-0 hover:rotate-12 ease-in-out duration-300 -sm:ml-[20px]"></a>
			<ul class="links flex text-white text-lg w-auto h-full -sm:flex-wrap -sm:w-full">
				<li
					class="hover:bg-gl-dark-red ease-in-out duration-300 border-0 -sm:mx-auto w-1/2 -sm:border border-gl-dark-red text-center">
					<a class="p-5 block w-full h-full whitespace-nowrap "
						href="products.html">系列鏡框</a></li>
				<li
					class="hover:bg-gl-dark-red ease-in-out duration-300 border-0 -sm:mx-auto w-1/2 -sm:border border-gl-dark-red text-center">
					<a class="p-5 block w-full h-full whitespace-nowrap" href="store.html">門市據點</a></li>
				<li
					class="hover:bg-gl-dark-red ease-in-out duration-300 border-0 -sm:mx-auto w-1/2 -sm:border border-gl-dark-red text-center">
					<a class="block px-7 py-5 w-full h-full whitespace-nowrap" href="#">部落格</a></li>
				<li
					class="hover:bg-gl-dark-red ease-in-out duration-300 border-0 -sm:mx-auto w-1/2 -sm:border border-gl-dark-red text-center">
					<a class="p-5 block w-full h-full whitespace-nowrap" href="#">常見問題</a></li>
			</ul>
		</div>
	</nav>

  <%- contents %>

	<footer class="footer flex bg-gl-red h-auto pt-12 -sm:flex-wrap">
		<div class="container px-[36px] -sm:flex-wrap flex-reverse relative  -sm:px-[12px]">
			<div
				class="zone1 flex justify-between items-center mb-2 w-full relative mx-auto -sm:w-auto -sm:right-[36px] -sm:absolute -xxs:relative">
				<ul class="sitemap flex -sm:hidden">
					<li class="mr-12 -md:mr-6 whitespace-nowrap"><a href="index.html">首頁</a></li>
					<li class="mr-12 -md:mr-6 whitespace-nowrap"><a href="#">系列鏡框</a></li>
					<li class="mr-12 -md:mr-6 whitespace-nowrap"><a href="store.html">門市據點</a></li>
					<li class="mr-12 -md:mr-6 whitespace-nowrap"><a href="#">部落格</a></li>
					<li><a href="#">常見問題</a></li>
				</ul>
				<ul
					class="social flex right:0 -sm:w-auto -sm:relative t-0 -sm:right-[-20px] -xxs:right-[-36px] -xxs:w-full">
					<li>
						<a href="">
							<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
								alt="facebook">
						</a>
					</li>
					<li>
						<a href="">
							<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
								alt="instagram">
						</a>
					</li>
					<li>
						<a href="">
							<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
								alt="line">
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-contact pb-8 border-white border-b -sm:pb-4">
				<div class="tel flex items-center mb-2">
					<icon class="inline-block w-auto h-auto mr-5">
						<span class="material-symbols-outlined material-icons md-48 -sm:text-2xl">
							phone
						</span>
					</icon>
					<span class="text-3xl -sm:text-base">0800-000-000</span>
				</div>
				<div class="email flex items-center mb-2">
					<icon class="inline-block w-auto h-auto mr-5">
						<span class="material-symbols-outlined material-icons md-48 -sm:text-2xl">
							mail
						</span>
					</icon>
					<span class="text-3xl -sm:text-base">glasses@business.com</span>
				</div>
			</div>
			<div class="copyright flex justify-between items-center my-8 -sm:text-sm -sm:my-6 flex-wrap">
				<span class="mb-0 -sm:mb-2">Copyright © 2020 Glasses.All rights reserved.</span>
				<div>
					<a class="inline-block -sm:w-full mb-2" href="#">隱私權政策</a>
					<a class="inline-block ml-12 -md:ml-6 -sm:ml-0" href="#">服務條款</a>
				</div>
			</div>
		</div>
	</footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $('.menu_btn').on('click', showClose);
    function showClose() {
      $('.menu_btn').toggleClass('active');
      $('.logo').toggleClass('active');
      $('.links').toggleClass('show');
    }
  </script> 
</body>

</html>
